# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

templates/.terraform
target/*
templates/terraform.tfstate
templates/terraform.tfstate.backup
templates/.terraform.tfstate.lock.info
samples/*
.code/*
.idea/*
ecsFargateService.iml
*DS_Store*
.terraform/terraform.tfstate
.terraform/*
*.terraform/*
*/.terraform/*
*.terraform*
.terraform.lock.hcl
Product-0.txt
Product-1.txt
Product-2.txt
Product-3.txt
Product-4.txt
Product-5.txt
Product-6.txt
Product-7.txt
Product-8.txt
Product-9.txt
refactoringIAC/.terraform.lock.hcl
refactoringIAC/.terraform/terraform.tfstate
refactoringIAC/.terraform/providers/registry.terraform.io/hashicorp/aws/4.24.0/linux_amd64/terraform-provider-aws_v4.24.0_x5
refactoringIAC/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.1/linux_amd64/terraform-provider-tls_v4.0.1_x5
templates/.terraform.lock.hcl
v2/terraform.tfstate.backup
v2/terraform.tfstate.backup
v2/terraform.tfstate.backup
terraform.tfstate
v2/terraform.tfstate
v2/terraform.tfstate.backup
v2/terraform.tfstate
v2/terraform.tfstate.backup
v2/terraform.tfstate
v2/terraform.tfstate.backup
v2/terraform.tfstate
v2/terraform.tfstate.backup
v2/terraform.tfstate
v2/terraform.tfstate.backup
step3_patient_admit_out.csv
patient_admit_out.csv
step0_patient_admit_out.csv
step1_patient_admit_out.csv
step2_patient_admit_out.csv
v2/terraform.tfstate
v2/terraform.tfstate.backup
